#error_explanation {
  margin: 3rem auto;
  padding: 0 1.5rem 1.5rem 1.5rem;
  border: solid 1px black;
  border-radius: 2rem;
  box-shadow:5px 5px 5px 5px red;
  padding: 2rem;
  width: 40rem;
  position: relative;
}
#form_container {
  text-align: center;
  margin: 4rem;
}
.title_form {
  margin: 2rem auto;
  border-bottom: solid 1px gray;
  box-shadow:5px 5px 5px 5px #EEEEEE;
  border-radius: 2rem;
  padding: 2rem;
  font-size: 2rem;
  color: #3366FF;
  width: 40rem;
}
.details_form {
  margin: 2rem auto;
  border-bottom: solid 1px gray;
  box-shadow:5px 5px 5px 5px #EEEEEE;
  border-radius: 2rem;
  padding: 2rem;
  font-size: 2rem;
  color: #3366FF;
  width: 40rem;
}
.limit_form {
  margin: 2rem auto;
  border-bottom: solid 1px gray;
  box-shadow:5px 5px 5px 5px #EEEEEE;
  border-radius: 2rem;
  padding: 2rem;
  font-size: 2rem;
  color: #3366FF;
  width: 40rem;
}
.status_form {
  margin: 2rem auto;
  border-bottom: solid 1px gray;
  box-shadow:5px 5px 5px 5px #EEEEEE;
  border-radius: 2rem;
  padding: 2rem;
  font-size: 2rem;
  color: #3366FF;
  width: 40rem;
}
.priority_form {
  margin: 2rem auto;
  border-bottom: solid 1px gray;
  box-shadow:5px 5px 5px 5px #EEEEEE;
  border-radius: 2rem;
  padding: 2rem;
  font-size: 2rem;
  color: #3366FF;
  width: 40rem;
}
